.body {
  margin-top: 30px;
}

.body * {
  max-width: 100%;
}

.body :not(pre) > code {
  padding: 0 5px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.body pre {
  padding: 20px;
  word-break: break-word;
  white-space: pre-wrap;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.body blockquote {
  padding-left: 16px;
  border-left: 4px solid #ccc;
}
