.body {
  margin-top: 30px;
}

.body * {
  max-width: 100%;
}

.body pre {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.body blockquote {
  border-left: 4px solid #ccc;
  padding-left: 16px;
}
