.post-body * {
  max-width: 100%;
}

.post-body h1 {
  @apply text-3xl mt-3;
}

.post-body h2 {
  @apply text-2xl mt-2;
}

.post-body h3 {
  @apply text-xl mt-2;
}

.post-body h4 {
  @apply text-lg mt-1;
}

.post-body h5 {
  @apply text-base mt-1;
}

.post-body a {
  @apply text-coloredLink;
}

.post-body ul {
  @apply list-disc list-inside ml-5;
}

.post-body :not(pre) > code {
  padding: 0 5px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post-body pre {
  padding: 20px;
  word-break: break-word;
  white-space: pre-wrap;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post-body blockquote {
  padding-left: 16px;
  border-left: 4px solid #ccc;
}
