.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  padding: 0 10px;
  padding-top: 50px;
  width: 100%;
}

.space {
  width: 100%;
}

.main {
  margin-top: 30px;
}

.sider {
  margin-top: 30px;
  width: 100%;
}

.footer {
  margin-top: auto;
  text-align: center;
}

.footer-content {
  margin-top: 30px;
}

@media screen and (min-width: 960px) {
  .container {
    display: flex;
  }

  .main {
    flex: 1;
  }

  .sider {
    margin-left: 10px;
    width: 300px;
  }
}
