.title {
  font-size: 24px;
}

.title:not(:hover) {
  color: inherit !important;
}

.description {
  white-space: pre-wrap;
}

.thumbnail {
  height: 123px;
  object-fit: cover;
  width: 200px;
}

.item {
  border-bottom: 1px solid #e5e5e5 !important;
}
